DJANGO_SECRET_KEY=replace-with-long-random-secret
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=example.com,www.example.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com,https://www.example.com

POSTGRES_DB=lifegraph_db
POSTGRES_USER=lifegraph_user
POSTGRES_PASSWORD=replace-with-strong-database-password
POSTGRES_HOST=lifegraph_db
POSTGRES_PORT=5432

USE_REDIS_CACHE=true
REDIS_URL=redis://lifegraph_redis:6379/0

APP_DOMAIN=example.com
DJANGO_ADMIN_URL=admin
